<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>HandyCrafter | Add a category</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add a category</h1>
	<form th:object="${category}" th:action="@{/savecategory}" action="#" method="post">

		<div th:if="${#fields.hasErrors('name')}" class="alert alert-danger">
			<span th:errors="*{name}"></span>
		</div>

		<label for="title">Name</label> 
		<input type="text" id="name" th:field=*{name} /> 
		<input type="submit" value="Add category" class="btn btn-success"/>
	</form>
	<br>
	<a href="/add" class="btn btn-light">Back</a>
</body>
</html>