<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>HandyCrafter | Edit handicraft</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Edit handicraft</h1>
	<form th:object="${handicraft}" th:action="@{/saveedits}" action="#" method="post">
		
		<div th:if="${#fields.hasErrors('name')}" class="alert alert-danger">
    		<span th:errors="*{name}"></span>
		</div>
		<div th:if="${#fields.hasErrors('description')}" class="alert alert-danger">
    		<span th:errors="*{description}"></span>
		</div>
		<div th:if="${#fields.hasErrors('price')}" class="alert alert-danger">
   			<span th:errors="*{price}"></span>
		</div>
		
		<label for="name">Name</label>
		<input type="text" id="name" th:field=*{name}/>
		<label for="description">Description</label>
		<input type="text" id="description" th:field=*{description}/>
		<label for="category">Category</label>
		<select name="category" id="category" th:field="*{category}">
    		<option th:each="category : ${categories}" th:value="${category.categoryid}" th:text="${category.name}" />
		</select>
		<label for="price">Price</label>
		<input type="text" id="price" th:field=*{price}/>
		<input type="hidden" id="id" th:field=*{id}/>
		<input type="hidden" id="seller" th:field=*{seller}/>
		<input type="submit" value="Edit handicraft" class="btn btn-success"/>
	</form> <br>
	<a href="/shop" class="btn btn-light">Back</a>
</body>
</html>