<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Error</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Something went wrong.</h1>
	<p>An error occurred. Please contact our helpdesk for further questions. <br>
	Our helpdesk is open: Mon-Fri 8-16, Sat&Sun 10-15. <br>
	Phone number: 040 872 9273 <br>
	Email: handy@people.com</p>
	<a href="/shop" class="btn btn-light">Back to frontpage</a>
</body>
</html>