<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Handicrafts</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Marketplace for handmade products</h1>

	<div class="row">
		<div class="card col-sm-4" th:each="handicraft : ${handicrafts}">
			<div class="card-header" th:text="${handicraft.name}"></div>
			<div class="card-body">
				<span th:text="${handicraft.description}"></span> <br> 
				<span th:text="${handicraft.price} + €"></span>
			</div>
			<div class="card-footer">
				<input type="submit" value="Seller's contact information">
				<a th:href="@{/delete/{id} (id=${handicraft.id})}">Remove product</a>
			</div>
		</div>
	</div>
	<a href="/add">Add for sale</a>

</body>
</html>