<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Handicrafts</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Handicraft list</h1>


	<div class="card" th:each="handicraft : ${handicrafts}">
		<div class="card-header" th:text="${handicraft.name}"></div>
		<div class="card-body">
			<span th:text="${handicraft.description}"></span>
			<br> 
			<span th:text="${handicraft.price} + €"></span>
		</div>
		<div class="card-footer">
		<input type="submit" value="Seller's contact information">
		</div>
	</div>
</body>
</html>